[2022-10-05 17:42] niteshjitender opened #12 "UI need some improvement"
I have made these changes.
![URL shortner clean UI ](https://user-images.githubusercontent.com/43808239/194126093-15d8ea73-29bc-40eb-b1b8-adc61cec12d2.png)

Please check this [PR](https://github.com/origranot/url-shortner/pull/11)

[2022-10-05 17:53] origranot commented on #12
Hey @niteshjitender

Thank you for the pr.
The last PR already changed the UI.

What do you think about adding a cool animation?

[2022-10-05 17:53] #12 closed

[2022-10-06 02:57] Znoy108x opened #18 "Animations"
I can add animations to the frontend and i can also improve the ui using tailwind

[2022-10-06 04:02] devilkiller-ag opened #19 "Create a better readme.md"

[2022-10-06 04:02] #19 closed

[2022-10-06 04:45] ashutoshshisodia opened #23 "Migrating app to a backend framework."
It would be great if we can move it to an MVC framework for backend.
AdonisJs  ( https://github.com/adonisjs/core ) is a great one.
Let me know your thoughts @origranot

[2022-10-06 05:31] Dun-sin opened #24 "Add live link"
Add a live link of the project to the readme or about page

[2022-10-06 06:21] origranot commented on #18
Sounds great.
Do you mind open a PR about it?

[2022-10-06 06:23] origranot commented on #23
@ashutoshshisodia Thank you for the suggestion!

The framework I thought about is NestJS (https://github.com/nestjs/nest)
We can use a lot of NestJS core features (logging, cache and more).

Do you want to open a PR while migrating it?

[2022-10-06 06:24] origranot commented on #24
@Dun-sin @Savio629

I will add a live link very soon.

[2022-10-06 06:30] Savio629 opened #25 "Adding a Favicon to the project"
It might look great to have a favicon of the website!

[2022-10-06 06:31] origranot commented on #25
@Savio629 Thank you for the suggestions.

Just approved a PR contains a favicon.
You are more than welcome to add more ideas :)

[2022-10-06 06:31] #25 closed

[2022-10-06 07:14] origranot commented on #24
@Dun-sin @Savio629

Here is the link: https://url-shortener-live.herokuapp.com/
Do you want to add it to readme and add a pr?

[2022-10-06 07:15] anchal-gupta opened #26 "Adding A Favicon"
I can add a favicon icon to the website. Please assign me this.

[2022-10-06 07:15] AkhilJ321 opened #27 "adding a pop up toast for "your link has been copied""

[2022-10-06 07:15] Dun-sin commented on #24
I can leave it up for some else to take

[2022-10-06 07:16] origranot commented on #26
@anchal-gupta
We already have a favicon to the website.
How about fixing the loader? (need it to be center aligned)

[2022-10-06 07:16] origranot commented on #27
@AkhilJ321
You are more than welcome to create a PR for it!

[2022-10-06 07:17] AkhilJ321 commented on #27
okay i will be making it soon!

[2022-10-06 07:44] AnshumanDubey1999 opened #29 "Use Redis database to store data"
Currently data is being stored in memory which can get deleted if the server restarts. Storing data externally to a database will keep data safe. Redis is a good solution, given the data we have is a key value pair.

[2022-10-06 07:54] jayshreetundele opened #30 "Customize the scrollbar"

[2022-10-06 07:56] ahmedsilat44 commented on #30
Hey @jayshreetundele I would like to work on this issue. Could you assign it to me, Thanks 😄

[2022-10-06 08:06] origranot commented on #30
Great idea. you are welcome to open a PR.

@ahmedsilat44
@jayshreetundele

[2022-10-06 08:24] gunjansaha55 commented on #30
I want to work on this issue.

[2022-10-06 08:28] AnshumanDubey1999 commented on #29
Yes, I would like to work on this PR

[2022-10-06 08:32] gunjansaha55 opened #31 "Minimal and updated readme."
https://github.com/layer5io/layer5/blob/master/README.md

I can design a readme file for this project to get better reach and clear understanding.
Here is a sample for reference purpose.

[2022-10-06 09:00] rishikesh2003 opened #32 "Light mode and dark mode switch"
We can add a button on the top bar for switching themes

[2022-10-06 09:23] origranot commented on #31
Looks great, you are more than welcome to create a PR for this.

[2022-10-06 09:25] Dev-Code24 commented on #32
@origranot
I have already created a PR regarding the dark mode toggle button

[2022-10-06 09:27] origranot commented on #32
@Dev-Code24 I just commented on the PR :)

[2022-10-06 09:30] nihal-soni opened #34 "Hey! i want to contribute to your repo by adding some cheatsheet"

[2022-10-06 10:15] drrav31 commented on #24
@origranot Can I take this up and add the link in readme?

[2022-10-06 10:26] VaishantMakan commented on #24
@origranot

Can I take this up? I will add the live link in the readme and create a pull request.

[2022-10-06 10:35] ashutoshshisodia commented on #23
I have none experience in nest, let me see it once and I will get back to you.

[2022-10-06 11:35] SameepAher opened #41 "Bug: Link copied message for invalid url as well"
On clicking the display message of invalid link it says "Link has been copied to the clipboard" which doesn't make any sense

Here is the video displaying the issue -

[screen-capture (1).webm](https://user-images.githubusercontent.com/96468766/194301649-12e0bc46-7fb6-4a4f-a765-886e93eff43a.webm)

I can fix this issue and create a PR

[2022-10-06 11:40] origranot commented on #41
Correct, Go for it! 💯

[2022-10-06 11:42] #24 closed

[2022-10-06 11:43] #26 closed

[2022-10-06 11:45] Amiyanshu-web opened #42 "Check for Invalid Url"
Currently, the app is shortening the URL provided by the user irrespective of being valid or invalid.
The URL should be verified before shortening it.
If URL does not exist "Invalid URL" message should be shown.

[2022-10-06 11:48] origranot commented on #42
Correct, you are more than welcome to create a PR about it.

[2022-10-06 12:15] rachitag112 opened #46 "Button at the side of shorten url to use as it directly or part of the url"
I would like to work on this issue!

[2022-10-06 12:19] rachitag112 opened #47 "Automatically copy the link after the short url is created"
I would like to work on this issue!

[2022-10-06 12:24] rachitag112 commented on #46
Button to the side of the shorten url, you can either copy the link through clicking the button or can select the part of the link if wanted. As of now, if we click on the link it copies, but then you can also select the part of it or the whole link by the button.

[2022-10-06 12:24] Ayush-Kori commented on #42
Hey I want to work on this issue and new to opensource can u guide me for this.

[2022-10-06 12:30] shunphoenix55 opened #48 "Shortened URL directing to https://https:// link"
When you paste the link and it's shortened, the page it redirects to has https:// in it twice

**Steps to reproduce:**
1. Type in a link and press "Shorten URL"
2. Copy URL and paste in browser

**Screenshots**
![image](https://user-images.githubusercontent.com/76583147/194312889-a0040ed4-7b11-49e1-9521-4cbd994075ad.png)
![image](https://user-images.githubusercontent.com/76583147/194312961-0676808

[2022-10-06 12:30] origranot commented on #42
You can checkout our Contribute.md file here: https://github.com/origranot/url-shortener/blob/master/CONTRIBUTE.MD
If you need further help let me know :)

[2022-10-06 12:31] origranot commented on #46
@rachitag112 You can open a PR about it.
Not a problem.

[2022-10-06 12:31] origranot commented on #47
@rachitag112  Someone is already working on it.

How about this feature?
What we do need is a listener to the "enter" keyboard event.
Instead of clicking the button users will be able to just click "enter" on their keyboard.

[2022-10-06 12:42] Bbhuva commented on #48
This issue is fixed and pull request is made

[2022-10-06 12:45] aliabbasjaffri opened #50 "Missing docker file"
Hello! I saw that there's a docker file that's missing. Its better to have a docker of your application so that its easy to setup on any environment with just docker installed.
I can work on that, as a part of hacktoberfest and contribute towards url-shortner :-)

[2022-10-06 14:20] bhavyapathak20 opened #52 "UI"
Hey, I would like to work on improving the UI design for the web application. Please assign me this issue

[2022-10-06 15:50] #47 closed

[2022-10-06 15:51] origranot commented on #48
Correct. I fixed it and return the issue.

[2022-10-06 15:51] #48 closed

[2022-10-06 15:51] origranot opened #55 "Websites without http or https are invalid"
Currently it gives an "Invalid URL" error when a url is entered (without http or https)

![image](https://user-images.githubusercontent.com/48911144/194360041-a4b5fb99-9d6a-4dae-b072-b2d52e757d75.png)

So to fix this, in this PR i just added "https://" to the url if it doesn't start with the same.
This will also be checked later on, as usual
image

[2022-10-06 15:52] origranot commented on #50
Sure, go for it :)

[2022-10-06 15:53] origranot commented on #52
Go for it :)

[2022-10-06 15:53] #32 closed

[2022-10-06 16:01] KunalSin9h opened #57 "we should rename it url-longener"
![image](https://user-images.githubusercontent.com/82411321/194362098-ebf957c7-0485-4b8c-b54e-80f7effa0024.png)

[2022-10-06 16:31] sarthakk24 opened #58 "Add copied animation"
I would like to add a popup animation when the link is copied , also please assign me this issue if you want me to work on it

[2022-10-06 17:37] Saavrm26 commented on #55
May i work on this bug?

[2022-10-06 17:44] SandeshGC commented on #46
@rachitag112
There should be a "Shorten URL" button which will shorten the URL and directly copy it to clipboard. Is that what you mean?

[2022-10-06 17:55] #57 closed

[2022-10-06 18:25] rachitag112 commented on #46
@SandeshGC
That thing is already happening, you can refer to the screenshot to understand which kind of button I want to convey
![image](https://user-images.githubusercontent.com/76098066/194390150-24a3dfab-96a4-40d5-ad92-120c90800cac.png)

[2022-10-06 18:43] Saavrm26 commented on #55
![image](https://user-images.githubusercontent.com/96730385/194393404-18175b2a-3b92-4c20-bde7-95a79e07c42b.png)
Protocol check is missing

[2022-10-06 18:57] SandeshGC commented on #42
Currently, if you enter valid URL when the page is loaded, it works fine until it encounters an invalid URL. Once it encounters an invalid URL, it will display "The URL is invalid" although you enter a valid URL.

1.  On first load of page when the URL is valid:

![image](https://user-images.githubusercontent.com/59115123/194395074-ec441b89-ab6f-47ea-a6e8-fe61dfe7d5c9.png)

2. It will show valid U

[2022-10-06 19:02] origranot commented on #55
Go ahead, open a or 🙌🏻

[2022-10-06 19:15] #27 closed

[2022-10-06 19:51] origranot commented on #58
How about adding our git repo as a button at the top right?

[2022-10-06 19:52] sarthakk24 commented on #58
sure i'll can work on that

[2022-10-06 20:04] GuillemPM opened #62 "HerokuApp is broken"
As I see heroku app is broken after converting the project to Typescript.

We need to specify some extra arguments to help him load the project.

I will create a PR adding this settings, can you assign me this task?

[2022-10-06 20:22] aliabbasjaffri commented on #50
Hello @origranot , I've opened the [pull request](https://github.com/origranot/url-shortener/pull/63) for the issue.

[2022-10-06 21:02] Saavrm26 commented on #55
Umm the latest commit migrates almost the entire project to ts, deleting api.js in the process. I had changes in that file. What to do?

[2022-10-06 22:03] #41 closed

[2022-10-06 22:08] biancam5 opened #66 "make button prettier and cool"
I made button prettier and cool with a better hover effect

[2022-10-06 22:09] biancam5 commented on #66
@origranot   please assign me to this task I already  made the pull request with my changes and add the tags of the event and more

[2022-10-06 22:19] origranot commented on #62
Great. I will assign you to it.

[2022-10-06 22:27] origranot commented on #55
You can pull it from master and migrate those changes.

[2022-10-06 22:27] origranot commented on #58
great!

[2022-10-06 22:27] origranot commented on #66
I commented on the PR :)

[2022-10-06 22:27] #66 closed

[2022-10-06 22:28] #62 closed

[2022-10-06 22:29] origranot opened #67 "DOCS: Need to update readme"
Hey guys,

We migrated to NestJS on our previous pr.
We need to change the installation paragraph at the readme.

[2022-10-06 23:52] muskanbararia commented on #67
can u please assign it to me?

[2022-10-06 23:54] muskanbararia commented on #67
Would love to work for it under hacktoberfest

[2022-10-07 00:18] ashwin3005 opened #68 "adding CODE_OF_CONDUCT.md file"
I would like to add CODE_OF_CONDUCT.md to this repo..

[2022-10-07 03:53] amittri1025 opened #70 "Documentation is not updated"
Issue:
After merging PR #64 , the directions in "HOW TO INSTALL " section in README.md is not working.

it is node app.js but it won't work, after making nextjs configurations. So I have to change this

![image](https://user-images.githubusercontent.com/74503582/194464376-5b024c04-523e-4c4e-a16f-104564d02909.png)

to
[code]

[2022-10-07 05:33] Jaspreet099 opened #72 "Add code of conduct"
Hey @origranot, assign this issue to me i will add code of conduct, and also add Hacktoberfest tag

[2022-10-07 05:47] sagnik26 opened #73 "Implementing a better ui"
Hey, I would like to implement a better UI. Can you please assign me this

[2022-10-07 06:02] origranot commented on #67
Sure!

[2022-10-07 06:03] origranot commented on #73
Go for it 👍

[2022-10-07 06:53] manassahoo-dev opened #74 "Better Space utilization"
Currently, the items are placed at the top. So there is lot of negative space from top.
We can make it center aligned to properly utilize the space.
![image](https://user-images.githubusercontent.com/6974223/194485846-4792b98e-6b6d-4c71-91ee-5bb0325245b2.png)

[2022-10-07 06:55] manassahoo-dev commented on #74
@origranot Can you please assign this to me?

[2022-10-07 06:56] Amiyanshu-web commented on #42
Hey @origranot after I pulled the latest release, every entered URL is getting an "invalid URL " error. Can you please once go through the latest merge which caused this issue?

[2022-10-07 07:17] manassahoo-dev commented on #74
This is how the updated version would look like
![image](https://user-images.githubusercontent.com/6974223/194494237-1cd388ad-85f9-468c-b9be-a823422ba276.png)

[2022-10-07 07:49] JunDevHarsh opened #76 "Not generating short link"
The app is not generating shorl url link and keeps displaying `This url is invalid..`.

The entered url: `https://github.com/JunDevHarsh/amazon-clone`.

[2022-10-07 07:49] GuillemPM opened #77 "Migrate to frontend framework"
As @origranot said, we should migrate to a frontend framework.
I could work on migrating to  [🔰**Vue.js**](https://vuejs.org)

I personally prefer Vue.js over React.js as it is so **powerful** framework and has a softer **learning curve** and its gaining more popularity over the time, if you prefer to migrate to React close this issue and let's wait for someone interested.

## Star History

[![Sta

[2022-10-07 07:53] #70 closed

[2022-10-07 07:54] origranot commented on #74
Nice idea. There is a PR opened by you.

[2022-10-07 07:56] origranot commented on #77
@GuillemPM thank you so much for your contributions!

I want to use something better than O(N) frameworks.

How about qwick?

[2022-10-07 07:58] GuillemPM commented on #77
Interesting, I will take a look :)

[2022-10-07 08:46] manassahoo-dev commented on #74
Yes, I have created the PR. Could you please review it once?

[2022-10-07 09:19] ankita-104 opened #81 "Glowing text format representation"
Glowing individual texts using css snimation property to enhance the ui

[2022-10-07 09:19] ankita-104 commented on #81
Please assign it to me I want to contribute

[2022-10-07 09:52] GuillemPM commented on #77
@origranot I'll give it a try.
That's how I'm planning to structure the folders:
[code]

[2022-10-07 10:32] sagnik26 commented on #73
Hey @origranot , I just created a pull request, please check it out

[2022-10-07 14:21] lucalves opened #83 "Develop button to switch between dark and light mode"
Hello all!

I saw on the README.md, the suggestion to include the dark mode switch button.

I would like to work on this. I thought about leaving the light mode this way, what do you think?

![light-mode](https://user-images.githubusercontent.com/17712401/194575791-5721fee9-9ea2-42f4-b0ba-00c40a96439e.png)

If it's ok, you can assign this issue to me. I will include this.

[2022-10-07 14:22] saurabhcodes25 opened #84 "Improving the readme file"
Enhancing the README.md file furthuremore by adding the contributors list.

[2022-10-07 14:28] saurabhcodes25 commented on #84
@origranot please check #85 and merge it.

[2022-10-07 14:34] #18 closed

[2022-10-07 14:34] #23 closed

[2022-10-07 14:35] #29 closed

[2022-10-07 14:35] #30 closed

[2022-10-07 14:35] #31 closed

[2022-10-07 14:36] origranot commented on #42
Hey @Amiyanshu-web.

Can you check it again? for me it looks fine.

[2022-10-07 14:37] #46 closed

[2022-10-07 14:51] origranot commented on #72
Done.

[2022-10-07 14:51] origranot commented on #73
alright :)

[2022-10-07 14:51] origranot commented on #74
Sure.

[2022-10-07 14:52] origranot commented on #76
Hey, it's working on my end.

[2022-10-07 14:52] #76 closed

[2022-10-07 14:53] origranot commented on #77
I guess this is our only options.

You can go for it, looks great for me.

What do you think about qwick?

[2022-10-07 14:54] origranot commented on #81
Go for it! 💯

[2022-10-07 14:56] origranot commented on #83
It looks great.

Make sure to pull from master because your screenshot is out of date.
I want us to use a cooler button. for example: https://codepen.io/grapdroad/pen/gOzaXQg

Open a PR and work on it, it will be great!

[2022-10-07 14:57] #84 closed

[2022-10-07 14:57] GuillemPM commented on #77
The framework looks great, working under vite and its building and deploying really fast.
I don't have a lot of experience with React and since Qwik syntax is based on it, it is a little bit complex for me, but I almost have it ready.
Will update soon 🚀

[2022-10-07 15:07] origranot commented on #77
@GuillemPM Sounds great!

[2022-10-07 15:48] nihal-soni commented on #34
yes

[2022-10-07 15:50] nihal-soni commented on #34
I have Created a pull request you haven't merged

[2022-10-07 15:59] singharyan1007 commented on #83
hi if the issue is still open can I work on it?

[2022-10-07 16:41] lucalves commented on #83
Go ahead, @singharyan1007. I don't know this pug framework, so you can go ahead and work it out.

@origranot You can reassign the issue to him?

[2022-10-07 19:06] aditi10701 opened #89 "Add a footer"
add a footer to the section which makes the app a better visual impact.
kindly assign me the same. I am interested in working on this.

[2022-10-07 19:56] origranot commented on #89
Hey @aditi10701

I am more than happy that someone suggested that.
Go for it!

[2022-10-07 20:03] #68 closed

[2022-10-07 20:03] origranot commented on #67
@muskanbararia Any update?

[2022-10-07 20:03] #74 closed

[2022-10-07 20:04] #52 closed

[2022-10-07 20:04] origranot commented on #58
@sarthakk24 any update?

[2022-10-07 20:06] origranot commented on #83
@singharyan1007 @lucalves done :)

[2022-10-07 20:51] amittri1025 commented on #89
I Added a Footer in PR #90 , which gives link to original github repo. It was very crucial.

[2022-10-07 21:39] origranot commented on #42
It is fixed. Do you want to work on a PR for this problem?

[2022-10-07 21:39] #81 closed

[2022-10-07 21:39] #73 closed

[2022-10-07 21:41] #34 closed

[2022-10-07 21:41] #72 closed

[2022-10-07 21:42] #67 closed

[2022-10-07 21:57] ayyanaliwagi88 opened #91 "Meezan Bank mobile account app"
Help

[2022-10-07 22:41] #91 closed

[2022-10-07 23:00] BxtGeek opened #92 "I will create the Better readme"

[2022-10-07 23:08] origranot commented on #92
Great!

You are welcome to open a PR.

[2022-10-07 23:11] sarthakk24 commented on #58
I am working on it actually I haven't worked with pug before so using pug docs to learn and apply

[2022-10-07 23:37] BxtGeek commented on #92
[README.md](https://github.com/origranot/url-shortener/files/9737893/README.md)

[2022-10-07 23:38] BxtGeek commented on #92
Added the new readme file

[2022-10-08 03:59] Amiyanshu-web commented on #42
Yes, I will create PR by today itself.

[2022-10-08 05:19] ashutoshshisodia commented on #23
Hi @origranot, can you once see AdonisJs (https://github.com/adonisjs/core) and let me know your views (not saying you must use it or anything)?
It is quite feature rich fameword and I have been using it since a couple of years and I found it really good.

[2022-10-08 06:45] aigdonia commented on #77
I'm interested in this Qwik refactor thing, I saw the PR already creared, and I'm looking for the merge so I can add up over it

[2022-10-08 07:04] origranot commented on #92
Did you open a pr?

[2022-10-08 07:05] origranot commented on #89
@amittri1025 I review the pr.

Please have a look.

[2022-10-08 07:06] origranot commented on #77
Hey, I think @GuillemPM is working on this issue already.

You are welcome to contribute in other ways. Take a look into the docs.

[2022-10-08 07:06] origranot commented on #58
Alright, sounds great!

[2022-10-08 07:07] origranot commented on #50
Hey @aliabbasjaffri

I commented on the pr.

[2022-10-08 07:08] origranot commented on #42
@Amiyanshu-web Great!

[2022-10-08 07:33] aigdonia opened #101 "Shortend URL Public Statistics Page"
In Order to make a value for this App not to be another URL shortener, I believe we need to add some numbers.

As A short URL creator I need to track some statistics for the link I just created, I suggest the following number:

- Number of Times this link was opened.
- Geolocation, or list of Referrals where as this link was opened from.

## Acceptance Criteria
- Create a link details page at URL

[2022-10-08 07:34] aigdonia commented on #101
@origranot I can happily work on this, also I have another list of features we can include this this nice project

[2022-10-08 07:41] aigdonia opened #102 "Shortened URL copy as QR Code"
As A Shortened URL creator, I need to copy the shortened URL as a QR Code

this should be useful for sharing the URL in printable scannable formats, it saves additonal step of using another service to generate QR code.

## Acceptance Criteria
- After creating a shortened URL, display button suggests if need to get QR format copy
- button should be clickable and after click on it, it should generat

[2022-10-08 07:48] aigdonia opened #104 "Custom shortened links"
As A Shortened URL creator I need to create custom shortened links.

This is useful for premium users and advanced users.

## Acceptance Criteria
- User should be able to click create custom link button
- user should enter custom link.
- custom link should be validated not to be duplicate, and fulfills length and character validation

[2022-10-08 08:01] origranot commented on #101
Go for it!

[2022-10-08 08:01] origranot commented on #102
Amazing idea, go for it!!

[2022-10-08 08:29] BWsix opened #105 "Clear input field after shortening url"
HI, I'm thinking that maybe clearing input field after shortening url world create a better user experience for those who have more than one url to shorten?
Currently, users have to delete their input if they want to shorten another link (like the screenshot below).

![image](https://user-images.githubusercontent.com/57709309/194697985-64c94c7a-a90c-4b7a-a359-5f3f5602d68f.png)

Does this sound lik

[2022-10-08 08:51] BxtGeek commented on #92
Thanks will edit and update

[2022-10-08 09:46] Gauravdarkslayer commented on #105
Hey @BWsix and @origranot , I am working on this issue. Can you please assign it to me ?
Thank you !!

[2022-10-08 10:36] detronetdip commented on #104
Hey I want to work on this issue @origranot can you please assign me?

[2022-10-08 12:40] origranot commented on #104
@aigdonia Amazing idea!

@detronetdip Go for it!

[2022-10-08 13:17] bhumika-1-3 opened #109 "On click of the link on readme the url should open on next tab."

[2022-10-08 13:20] bhumika-1-3 opened #110 "Url part which is not visible on screen should shift to next line"

[2022-10-08 13:25] origranot commented on #109
Do you mean on the click on live demo?

[2022-10-08 13:27] bhumika-1-3 commented on #110
A bigger textbox so the entire URL is visible to the user. So he doesn't have to scroll to the end to recheck.

[2022-10-08 13:27] bhumika-1-3 commented on #109
Yes . Can you assign it to me ?

[2022-10-08 13:34] origranot commented on #110
I think our textbox is big enough :)

[2022-10-08 13:34] #110 closed

[2022-10-08 14:07] goldenPheonix02 opened #112 "Confetti animation on copying url"
This might seem a bit extra but I wanna try adding confetti animation when the URL is copied

[2022-10-08 14:27] yosaami commented on #112
I would like to contribute to this issue.

[2022-10-08 14:58] BWsix commented on #105
This issue is fixed in #106

[2022-10-08 14:58] #105 closed

[2022-10-08 15:53] detronetdip opened #116 "Multistage build in Dockerfile"
https://github.com/origranot/url-shortener/blob/dd5979e840b851371aa8d886f7b34c6c38f35455/Dockerfile#L21

Hey @origranot wouldn't it be great if we use multistage build and build our application? Currently to build the docker image we are just copying the files and running the app in development without building it. I can implement that, please let me know your view to this and if you agree please

[2022-10-08 20:59] ayyanaliwagi88 opened #118 "Jazz Maps"
http://tplmaps.com/maps/maps_share.php?pid=-1&name=s+24&lat=29.5768913&lng=72.1850317&type=&address=

[2022-10-08 21:49] origranot commented on #116
Yea, we can do a build stage.

Go for it!

[2022-10-08 21:50] #118 closed

[2022-10-08 21:50] origranot commented on #112
@goldenPheonix02 Go for it :)

[2022-10-08 21:50] #58 closed

[2022-10-08 22:33] origranot opened #119 "tests: Add tests to our shortener service"
Hey guys, we need to add some tests to our project.
This should cover the tests on the shortener.service.ts

[2022-10-08 22:34] origranot opened #120 "tests: Add tests to shortener controller"
Hey guys, we need to add some tests to our project.
This should cover the tests on the shortener.controller.ts

[2022-10-08 22:45] aigdonia commented on #119
@origranot I would go for this

[2022-10-08 23:27] origranot commented on #119
@aigdonia That's great. I will assign you.

Feel free to open a pr :)

[2022-10-08 23:30] origranot commented on #92
@BxtGeek Any update?

I want to create a cool readme :)

[2022-10-08 23:53] professorjrod commented on #120
can u assign me. what testing library?

[2022-10-09 05:03] Rinshin-Jalal opened #123 "Migrating to Yarn."
I would like to help you convert to Yarn from NPM...

[2022-10-09 05:17] Rinshin-Jalal opened #125 "[Feature Request]: Ability to delete and edit the urls"
It would be better to have the ability to delete and edit your shortened URL

for that the website needs user authentication and other things

But it would be great

[2022-10-09 06:02] GuillemPM commented on #77
PR #127

[2022-10-09 07:24] origranot commented on #120
@professorjrod Thanks!

Our backend framework is nest, tests are with jest.

[2022-10-09 07:24] origranot commented on #123
Go for it!

[2022-10-09 14:08] origranot commented on #125
This is a great idea!

I think we are a bit early for this kind of feature.
Let's focus on basic enhancements at the moment.

Thank you for the idea!

[2022-10-09 14:08] #125 closed

[2022-10-09 14:28] utkarsh006 opened #135 "Write a documentation about URL Shortner"
- Write an article about how the URL Shortner works in the background.
- This article would be on Low Level System Design.
- Do consider this issue under hacktoberfest.

[2022-10-09 14:31] origranot commented on #135
Go for it. 👍

[2022-10-09 14:36] utkarsh006 commented on #135
@origranot Kindly give this issue a label as "hacktoberfest"

[2022-10-09 14:37] origranot commented on #135
Yes, I will label the PR 👍

[2022-10-09 14:48] #77 closed

[2022-10-09 14:48] #89 closed

[2022-10-09 14:48] #50 closed

[2022-10-09 14:48] #42 closed

[2022-10-09 14:49] #92 closed

[2022-10-09 14:49] origranot commented on #102
?Are you still working on it

[2022-10-09 14:50] origranot commented on #101
@aigdonia Any update?

[2022-10-09 15:00] anas-elgarhy opened #137 "Arabic translations"
I can translate the README file into Arabic language if you want 😃

[2022-10-09 15:03] origranot commented on #137
I think it's better to have the README only in english.

You are welcome to offer some more ideas into the roadmap section.
Or even create a logo for this project? 💯

[2022-10-09 15:03] #137 closed

[2022-10-09 15:45] Rinshin-Jalal commented on #123
I will do another pull request

[2022-10-09 16:37] ArnabDey1543 commented on #102
@origranot can you please assign this work ?

[2022-10-09 17:47] IncredibleZuess commented on #109
Hi! I took a shot at the issue here.

This issue seems like it is impossible using Github because of how kramdown(Github's markdown engine) is configured

Github does not allow markdown to open to a new tab because of possible exploits and performance issues which use the `target="_blank"` attribute.

Where an easy fix would have been adding this to the `Readme.md`:
[code]
But Github just renders

[2022-10-09 20:19] origranot commented on #109
Thank you so much!
Looks like we can't implement this..

[2022-10-09 20:19] #109 closed

[2022-10-09 21:09] #135 closed

[2022-10-09 21:09] #112 closed

[2022-10-09 21:11] origranot opened #144 "Update project gif"
We need to update the project gif with the new UI changes.

[2022-10-09 23:07] owengaspard commented on #144
On it

[2022-10-09 23:32] IncredibleZuess commented on #102
@origranot I'll work on this issue! :)

[2022-10-10 04:04] singharyan1007 commented on #83
Hi I have added the feature of the dark and light mode and made a PR. Please review it.

[2022-10-10 10:10] ArnabDey1543 commented on #144
@origranot  please assign me this work

[2022-10-10 11:39] GuillemPM commented on #144
@ArnabDey1543, this issue has a PR #145 already.

Would you work on any of the remaining open issues?
Thanks! 🚀

[2022-10-10 13:18] #123 closed

[2022-10-10 13:49] aigdonia commented on #101
My work in progress, I had to add storage for counting the visits, this took more than expected, I'll push my work today

[2022-10-10 14:27] origranot commented on #101
@aigdonia Great!

[2022-10-10 15:15] #144 closed

[2022-10-10 16:43] #116 closed

[2022-10-10 17:12] ArnabDey1543 commented on #144
sure !

[2022-10-10 17:35] #102 closed

[2022-10-10 18:54] amitkumar-y opened #152 "Typos in Readme file"
Hi,
I observed few typos in readme file that can be improved, let me know if I can work on that?

[2022-10-10 19:09] origranot commented on #152
Go for it! ☺️

[2022-10-10 19:43] amitkumar-y commented on #152
Hi @origranot ,
I have fixed the typos in the readme file, have a look at it https://github.com/origranot/url-shortener/pull/153

[2022-10-10 20:08] GuillemPM opened #154 "Implement @builder.io/qwik-react"
As there are no Component libraries directly integrated with Qwik (Really fresh framework).
I will work on implementing `@builder.io/qwik-react`, a package that adds support to React components, it will allows us to use almost any React packages such as React-bootstrap, MUI, etc.

Its usage is simple, just wrap any React component into a Qwikify$ component, Qwik will do the rest.

`Qwikify$` compo

[2022-10-10 22:12] #154 closed

[2022-10-10 23:30] #152 closed

[2022-10-11 04:43] shreyaansjain06 opened #156 "Adding issue template"
A issue template can be added so that creating new issues for the beginner would be easy

Please assign this issue to me so that I can start working on it

[2022-10-11 08:39] origranot commented on #156
Great, go for it!

[2022-10-11 08:40] shreyaansjain06 commented on #156
Please consider it under Hactoberfest

[2022-10-11 09:20] GuillemPM opened #160 "Issue: Overlapping QR and Waves"
## Description
When I use the shortener on my phone and I generate the QR Code, the text to download it is overlapped by the waves, so it's not clickable, and difficult to read.

## Screenshot
![image](https://user-images.githubusercontent.com/26607131/195048953-65c7df05-9fa6-4094-b3ff-857f6fb716b4.png)

Mobile:
iPhone 11 (iOS 15.6.1)

Browser:
Safari 15

[2022-10-11 09:23] devilkiller-ag opened #161 "Add option to preview the shortened URL and copy it manually."
There is no option to copy the shortened URL manually. Can I add this feature?

[2022-10-11 09:24] devilkiller-ag opened #162 "Spelling Mistake on the landing page"
There is a spelling mistake on the landing page. Can I rectify it?
![Screenshot (25)](https://user-images.githubusercontent.com/43639341/195052093-9b318fe8-5e64-4b37-8d23-16b300dd18bb.png)

[2022-10-11 09:28] origranot commented on #161
@devilkiller-ag Hey!

There is already an option for manual copy 👍

[2022-10-11 09:28] #161 closed

[2022-10-11 09:29] origranot commented on #162
@devilkiller-ag 👋

I didn't notice that, 🤣

You are welcome to open a PR about it.

[2022-10-11 11:25] sarahesbie opened #165 ""Shorten URL" button has insufficient contrast ratio for accessibility purposes"
The color combination #ffffff/#3498db has a contrast ratio of 3.15, which is not sufficient. At this size, you will need a ratio of at least 4.5.

Consider using the following foreground/background combination:

#ffffff/#007dbb  (has a ratio of 4.52)

![URL shortener contrast ratio](https://user-images.githubusercontent.com/4270573/195077773-ce6e2e8a-7119-458a-becb-1e38dd61dfc0.jpg)

More info on

[2022-10-11 11:30] #162 closed

[2022-10-11 12:10] pavankalyan-codes opened #167 "Mobile view landscape distorted"
Landscape mode isn't working. I can work on it, if you could assign this to me. Thanks

[2022-10-11 12:12] GuillemPM commented on #167
Hi @pavankalyan-codes , could you give more context?
Adding some screenshots might be useful.

[2022-10-11 13:17] pavankalyan-codes commented on #167
![Screenshot_2022-10-11-18-47-02-13_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.githubusercontent.com/35896290/195101338-a03ed5a6-e5ca-4d98-9071-631529b4ac4c.jpg)
Attached screenshot of the landscape view

[2022-10-11 13:26] namit343 opened #168 "Document contribution"
Can I contribute by making document changes and getting them "Hacktoberfest-accepted"?

[2022-10-11 13:32] origranot commented on #168
What kind of changes?

[2022-10-11 14:58] namit343 commented on #168
Basic grammatical changes, or I can help writing any Document files also if you want.

[2022-10-11 18:53] origranot commented on #168
You are more than welcome to fix issues with the documentation.
Go for it.

[2022-10-11 19:12] origranot opened #172 "UI Change: change the hover effect of the shortener button"
### Description

Hey guys,

We would like to change the hover effect of the shortener button.
The effect color are too different and we believe we can do much better.

### Screenshots

<img width="329" alt="image" src="https://user-images.githubusercontent.com/48911144/195178760-9eabd49a-d593-4804-9cb7-ac1d09000f45.png">
<img width="329" alt="image" src="https://user-images.githubusercontent.com/4

[2022-10-11 22:00] lauk20 commented on #172
Hi, can I be assigned to this?

[2022-10-12 02:32] origranot commented on #172
Yea, go ahead!

[2022-10-12 03:24] cweave commented on #172
Should've commented it and didn't refresh before assignment 🤐 I played around and made some style changes.

Disabled:
![image](https://user-images.githubusercontent.com/16121690/195242354-63766197-6685-4d56-9cfd-5adf08f9a369.png)

Available:
![image](https://user-images.githubusercontent.com/16121690/195242459-08061a54-a37e-41f0-a0d6-790622bf86d8.png)

Hover/Active:
![image](https://user-images.gi

[2022-10-12 03:32] cweave commented on #165
One of the changes I made for the button would help: https://github.com/origranot/url-shortener/issues/172#issuecomment-1275532432

I pulled one of the blue colors `#0069d9` to use as the background, with white text, that brings it to 5.22:1

![image](https://user-images.githubusercontent.com/16121690/195243436-d30ed672-7c7e-4dc3-bd4a-54cd2c6c2f8a.png)

The lighter blue, `#3498db` I used on hover,

[2022-10-12 04:14] lauk20 commented on #172
Thanks! I have submitted a pull request to address this issue. It changes some of the form input styling and button styling too.

[2022-10-12 11:12] GuillemPM opened #176 "Shortener don't work as expected when router has a hashmark"
### Description

When the app URL contains a hashmark it is being included in the shortened URL, but it should be ignored.
Example:
https://url-shortener-live.herokuapp.com/#sometext

Url to short: http://randomurl.com

Result: https://url-shortener-live.herokuapp.com/#sometextun7fo

### Screenshots

![image](https://user-images.githubusercontent.com/26607131/195328179-0da05dfe-07d7-4d5a-a232-88a7

[2022-10-12 14:37] akshat-rawat commented on #176
can I work on this issue?

[2022-10-12 15:11] GuillemPM commented on #176
Sure! Thanks.
Be aware of PR #177 as it has important changes that will be merged soon.

[2022-10-12 15:20] akshat-rawat commented on #176
Sure will keep in mind!

[2022-10-12 15:27] Vikki123 opened #178 "The url should not be cleared once shorten url button is clicked"
### Description

As on today, the user entered url gets cleared when the user clicks on shorten url and the screen looks something like below

<img width="1255" alt="image" src="https://user-images.githubusercontent.com/8450434/195384223-7947b1f7-9312-4578-8135-3caa7e0e6ada.png">

If we actually see, the user is out of context. The input field is blank and there is a shortned url.

Expected behavi

[2022-10-12 19:57] origranot opened #181 "BUG: The input bar is not responsive from mobile"
### Description

Hey,

The input bar seems to be out of border when using a mobile.
Pay attention we a major update to our fronted 💯

### Screenshots

![image](https://user-images.githubusercontent.com/48911144/195435776-e5e9bbf4-f47a-4835-b28e-f3b4d3ec5d41.png)

### Additional information

_No response_

[2022-10-12 21:02] akshat-rawat commented on #55
Is this issue still open? If so may I work on it?

[2022-10-12 22:39] GuillemPM opened #188 "Frontend not building"
### Description

Since commit 93184f4efbc1953f56cadb55d2b068ce41b03fb4 frontend is not building

Gives the following error:

[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-12 23:24] cweave commented on #188
I'm having the issue of the index not compiling on change. I get two verrry different experiences. When vite launches, it opens `http://127.0.0.1:5173/`

![image](https://user-images.githubusercontent.com/16121690/195465421-563d4c9c-de06-46b4-bece-1d0481128e21.png)

and this hot reloads and all the good stuff.

But if I go to `http://localhost:3000/`, per the documentation, no hot reload, no updat

[2022-10-12 23:27] cweave commented on #168
I have some questions into which app is the actual app to use, I posted the issue here: https://github.com/origranot/url-shortener/issues/188#issuecomment-1276835683

both wildly different experiences.

[2022-10-12 23:36] GuillemPM commented on #188
Let me explain as it might be little bit complex.

We have 2 different apps in the same repo, Frontend (Qwik App) and Backend (NestJS), you can run each one separately as they have their own package.json, node_modules, etc. but to deploy the whole project we need to merge them into a single App, that's why we have a package.json in root folder. It means that if you launch the frontend separately y

[2022-10-12 23:46] GuillemPM commented on #188
I will close this issue as it's solved in PR #189
If you have any doubt reach me opening a discussion here [Create discussion](https://github.com/origranot/url-shortener/discussions/new?category=q-a)

[2022-10-12 23:46] #188 closed

[2022-10-12 23:53] GuillemPM opened #191 "Ignore postinstall command on CI"
### Description

Postinstall commands were added to run on Heroku, but they are taking a lot of time in our Prettier check, as we don't need to build the solution.

Since Node.js has no way to skip postinstall scripts without affecting dependencies, I will create a script to workaround this.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-13 00:18] GuillemPM opened #193 "CI Workflow changing EOL"
### Description

Since the postinstall scripts are rebuilding the solution, it generates files with EOLs that doesn't match with the Prettier code style.
Reference to the issue #191

Whoever, this problem should be mitigated, maybe we need to add Husky? 🤔

### Screenshots

![image](https://user-images.githubusercontent.com/26607131/195470471-00be2928-bd4d-482a-8686-3f278b960e58.png)

### Additiona

[2022-10-13 00:23] GuillemPM commented on #178
Closing as it is working as intended.

[2022-10-13 00:23] #178 closed

[2022-10-13 00:35] #176 closed

[2022-10-13 18:19] Yashpsct010 commented on #181
Assign this issue to me

[2022-10-13 18:44] origranot commented on #181
@Yashpsct010 Hey!

It's already fixed by PR https://github.com/origranot/url-shortener/pull/199

[2022-10-13 18:44] #181 closed

[2022-10-13 18:45] origranot commented on #160
Done by https://github.com/origranot/url-shortener/pull/199

[2022-10-13 18:45] #160 closed

[2022-10-13 18:45] origranot commented on #167
Done by https://github.com/origranot/url-shortener/pull/199

[2022-10-13 19:20] varunKT001 commented on #193
@GuillemPM
We can add a pre-commit hook that runs prettier before making a commit.
If this issue is up for grabs, I would like to work on it.

[2022-10-13 21:31] GuillemPM commented on #193
How are you planning to do it?
Would you implement husky?

[2022-10-14 05:56] varunKT001 commented on #193
@GuillemPM Yes, I will use husky to create a pre-commit hook that will run prettier checks.

[2022-10-14 08:08] #165 closed

[2022-10-14 17:28] GuillemPM commented on #193
Could you create a new issue for that? I will close this one

[2022-10-14 17:28] #193 closed

[2022-10-14 18:05] kadar77 commented on #55
May I work on this issue? I already did fix in my local.

For protocol checking, is it allow http and https only?

[2022-10-14 18:11] Saavrm26 commented on #55
go ahead i'm not able to solve this issue

[2022-10-14 20:43] GuillemPM commented on #172
I'm sorry guys, I'll close this issue since we completely changed the UI :( I hope you will help on any other issue ♥

[2022-10-14 20:43] #172 closed

[2022-10-14 21:46] GuillemPM opened #204 "[DOCS] Update gif"
### Description

We need an updated GIF on our README.md!!!

It's important to keep the same size (or very similar) as the current GIF

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-14 21:47] GuillemPM commented on #168
I will close this issue as it is a generic question. You are free to contribute whenever you want! Thanks!! 🔥

[2022-10-14 21:47] #168 closed

[2022-10-14 21:54] GuillemPM commented on #55
I will write some examples:
If a prefix is missing then should be prefixed with http:// by default (and redirecting to https:// should be handled by the target website, not our task)

* example.com -> should be prefixed with http://
* http://example.com -> as is
* https://example.com -> as is
* (blank) -> Invalid url
* hxtps://example.com ->invalid url (if you can detect it is https, go for it)
*

[2022-10-15 09:02] SugamKuber opened #211 "Changes on the Input Bar"
### Description

I would love to contribute by making changes on the  input bar which has few minor bugs
Please give me the issue

### Screenshots

![image](https://user-images.githubusercontent.com/86460476/195978362-acc6a9ed-538e-4b35-ba0a-bbda96155d1f.png)

### Additional information

_No response_

[2022-10-15 09:05] GuillemPM commented on #211
I have a talk about that just yesterday with @origranot .

Could you explain what are you going to do?
The main task is getting rid of the outboxed line

[2022-10-15 10:39] LoicB commented on #204
Hello,
I am trying to update the gif image. But should I use the UI from the latest version? It would give a URL with localhost, which is probably not the best. Alternatively I could use reduced.to but the UI is very similar.

[2022-10-15 12:48] GuillemPM commented on #204
Hi, let's wait until we deploy to prod. I'll ping you here

[2022-10-15 13:38] GuillemPM commented on #204
@LoicB, app deployed, so go on. Thanks! 🔥

[2022-10-15 13:42] origranot opened #212 "Add SEO content for our index page"
### Description

Hey guys 👋

A big part of SEO is meta tags.
We would like to add meta tags to our index page 👍
Friendly guide on best practices: https://ahrefs.com/blog/seo-meta-tags/

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-15 15:49] amittri1025 commented on #204
Hello I solved this issue, update GIFs on homepage , with new website.

[2022-10-15 16:42] SugamKuber commented on #211
I will just make sure it won't overflow like, I'll make the UI/UX clean
The border kinda looks ugly as of now

[2022-10-15 16:49] iSumitBanik commented on #212
@origranot , I would like to work upon this issue. May you assign me this?

[2022-10-15 16:57] GuillemPM commented on #211
Make sure to follow the DaisyUI themes guidelines please! Thanks😊

[2022-10-15 17:02] SugamKuber commented on #211
Thanks, I'll edit the code soon and make the PR by tomorrow

[2022-10-15 17:23] SugamKuber commented on #211
I'm closing this issue
Its daisy UI feature, I dont think I can disable the input box border

[2022-10-15 17:23] #211 closed

[2022-10-15 18:01] GuillemPM commented on #211
Just override the class that generates that border

[2022-10-15 18:22] Riyadutt commented on #55
would like to work on this issue, assign it to me if no one is working on this.

[2022-10-15 19:13] origranot commented on #55
@Riyadutt You got it!

[2022-10-15 19:14] origranot commented on #212
@iSumitBanik Go for it :)

[2022-10-15 19:19] origranot opened #218 "Fix the input bar border when focus"
### Description

Hey Guys 👋

When the input bar is in focus there is a border that we want to remove.
Looks like we need to override the default Tailwind focus effect:
[code]

### Screenshots

![image](https://user-images.githubusercontent.com/48911144/196004163-e70fa2b3-45f8-4d35-a257-434759b86f2b.png)

### Additional information

_No response_

[2022-10-15 19:40] iSumitBanik commented on #212
@origranot
Created the PR #219 :)

[2022-10-15 21:01] #119 closed

[2022-10-15 21:20] mau211 commented on #218
@origranot I can take this up

[2022-10-15 21:24] origranot commented on #218
Go for it, I assigned you.

[2022-10-15 21:48] mau211 commented on #218
Hey I just opened this pr, do you mind adding the hacktoberfest and hacktoberfest-accepted labels. I would really appreciate it.

[2022-10-15 21:54] #218 closed

[2022-10-16 01:35] #83 closed

[2022-10-16 08:43] GuillemPM commented on #191
Closing because we removed postinstall commands and not using heroku anymore

[2022-10-16 08:43] #191 closed

[2022-10-16 10:14] origranot opened #226 "Save and load darkmode state from localStorage"
### Description

Hey 👋

In order to preserve the previous state of the theme we want to save the theme into localStorage.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 11:15] origranot commented on #226
Done https://github.com/origranot/reduced.to/pull/227

[2022-10-16 11:15] #226 closed

[2022-10-16 12:40] Ayushcoder09 opened #228 "You can add authentication for it."
### Description

Like you can add signup and login features before roadmap statistics page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 13:44] kadar77 commented on #55
Hello,
I am putting my solution here since it is assigned to others.

`
const regexBadHttp = new RegExp(
  /^([^hH][tT][tT][pP]|[hH][^tT][tT][pP]|[hH][tT][^tT][pP]|[hH][tT][tT][^pP])/
);
const regexUrlSchema = new RegExp(/^(.+:|\.)/);

const prepend = regexUrlSchema.test(body.originalUrl)
    ? ''
    : body.originalUrl.substring(0, 1) === ':'
    ? 'http'
    : 'http:/';
parsedUrl = new URL(
  (p

[2022-10-16 16:39] #228 closed

[2022-10-16 20:47] origranot opened #233 "Implement a 404 page"
### Description

If you navigate to unknown url we should redirect to a 404 page.

### Screenshots

<img width="458" alt="image" src="https://user-images.githubusercontent.com/48911144/196057527-fb529448-d3e9-4a52-a2af-3f1e2e87c66e.png">

### Additional information

_No response_

[2022-10-16 21:15] kymppi commented on #233
Hey, i can do this tomorrow 😄

[2022-10-16 21:16] kymppi commented on #233
Just wanting to clarify, does it have to redirect or could it just show a 404 on that URL?

[2022-10-16 21:26] origranot commented on #233
@kymppi Hey 👋

We need to create a new 404 page and redirect clients to this page.
Thanks for taking this issue, I will assign you to it.

[2022-10-16 21:27] kymppi commented on #233
Okay, thanks. Most likely a PR ready in 24 hours :P

[2022-10-16 21:38] origranot opened #234 "Make sure the provided url is exists (a valid status code)"
### Description

We need to make sure the input url from the client is actually exists.
One method to implement it is to do a GET request from our backend and verify the response from the website.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 21:41] #234 closed

[2022-10-16 21:45] origranot opened #235 "Add a rate-limit to prevent a brute-force attack on our server"
### Description

Right now users can call the shortener method how many times they want.
We need to implement a rate-limit on our server, the best practice is by using @nestjs/throttler package.
docs: https://docs.nestjs.com/security/rate-limiting

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 21:46] origranot commented on #55
Hey, we really like your solution.

Do you mind open a PR including this?

😄

[2022-10-17 04:13] kadar77 commented on #55
Thank you, just created the PR.

Not familiar with procedures for contributing 🙇‍♂️

[2022-10-17 15:48] HridoyHazard opened #243 "day mode color not accurate"
### Description

in day mode the color of text and shorten button is not good. it's looking very weird. i can fix this. assign this task to me

### Screenshots

![image](https://user-images.githubusercontent.com/71395891/196223656-9d30f6d4-1ef1-45e7-b558-4c45dc8bc03b.png)

### Additional information

_No response_

[2022-10-17 16:05] origranot commented on #243
Go for it!

[2022-10-17 16:34] origranot commented on #212
Done https://github.com/origranot/reduced.to/pull/242

[2022-10-17 16:45] origranot commented on #243
@HridoyHazard Pay attention we just changed the colors in the light mode.
If you still want to offer a change you are welcome to reopen this issue.
Please review our change first.
PR: https://github.com/origranot/reduced.to/pull/244

[2022-10-17 16:45] #243 closed

[2022-10-18 12:10] #233 closed

[2022-10-18 12:25] origranot commented on #233
@kymppi I liked it 🔥

Thank you so much for your contibution!

[2022-10-18 12:28] origranot opened #249 "Alert popup is not floating"
### Description

The alert component is not floating, causing the page to be pushed down.

### Screenshots

Before:
![image](https://user-images.githubusercontent.com/48911144/196429228-fb4ccb89-93e9-4620-91c1-114dd7fb19cc.png)

After:
![image](https://user-images.githubusercontent.com/48911144/196429106-ef52bf90-214c-4a82-98c7-74be2ebe4eed.png)

### Additional information

_No response_

[2022-10-18 15:11] ahmed-sudani commented on #249
I would like to handle this one

[2022-10-18 15:12] origranot commented on #249
Go for it 🚀

[2022-10-18 15:39] kymppi opened #250 "Feature: easily check where the url redirects without opening it"
### Description

You could add `+` to the end of any generated URL and it would show the URL it's going to redirect to.

### Screenshots

_No response_

### Additional information

I could add this :rocket:

[2022-10-18 16:02] GuillemPM commented on #250
That's a good idea, go for it! 🔥

[2022-10-18 16:31] GuillemPM opened #251 "Easy-to-remember URLs"
### Description

We know short urls are cool, but its almost impossible to remember them, isn't it?

My idea is to add an option for the user, to create easy to remember urls, what does **Easy to remember** means?
 - It means anything that the user could write by himself or even say to another person without saving the url in a note.

Example:
URL to reduce: https://somelongurl.com/verylongdatasub

[2022-10-18 17:40] origranot commented on #251
That's a great idea 🔥

[2022-10-18 20:18] origranot opened #254 "Add a basic config module to our backend"
### Description

We need to implement a config module to manage all our configuration in one place.
- Config module should contain a service that can be injected anywhere inside our app.
- Config service should load data from .env file.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-18 20:28] origranot commented on #254
Done https://github.com/origranot/reduced.to/pull/255

[2022-10-18 20:28] #254 closed

[2022-10-19 04:55] TheLearneer commented on #235
Hi @origranot 👋

Is it up for grabs?

[2022-10-19 04:58] codingis4noobs2 commented on #251
@origranot I Can do it assign me

[2022-10-19 06:55] GuillemPM commented on #235
For sure, feel free to PR 🎉🚀

[2022-10-19 07:02] HridoyHazard commented on #204
#257
here is the pr which have the similar ratio of previous gif

[2022-10-19 11:18] origranot commented on #204
Done https://github.com/origranot/reduced.to/pull/257

[2022-10-19 11:18] #204 closed

[2022-10-19 13:26] ayyanaliwagi88 opened #260 "Alert notifications number change"
https://github.com/cas10ph/Tugas-Struktur-Data-UBL/issues/1

[2022-10-19 15:27] #260 closed

[2022-10-19 16:15] #235 closed

[2022-10-19 19:09] kymppi commented on #250
Hey, i currently have some problems trying to get data to the page. Any ideas? I have never done this before :thinking:

[2022-10-19 20:28] origranot commented on #250
What kind of problems? I would like to get a deeper explanation 👍

I would like to help if I can 💯

[2022-10-19 20:43] kymppi commented on #250
Thanks for asking. Currently i cant figure out a way to pass data into the qwik app, since if i try to make a file named `[...id].tsx` it doesnt seem to be included in the dist/public folder in the backend.

[2022-10-19 20:44] kymppi commented on #250
I would need to pass the original url from the database/cache to the qwik app.

[2022-10-20 06:54] origranot commented on #55
Done https://github.com/origranot/reduced.to/pull/236

[2022-10-20 06:54] #55 closed

[2022-10-20 09:24] origranot opened #263 "Use cache as an external Redis store"
### Description

Instead of using in-mem cache we should use an **external** Redis store.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-20 09:28] origranot commented on #250
I am not sure I understood the problem you are facing.
When exactly do you want to add a button to see the original url?
Can you describe the flow of the app with the feature?

[2022-10-20 10:21] kymppi commented on #250
I'm trying to create a page where it shows the original URL. I have no idea how to get the original URL to the qwik app. I'm trying not to add a button, but a new page.

The flow:
- User wants to check the original URL
- User goes to <shortened URL>+ for example `https://reduced.to/k79a3+`
- It redirects to `https://reduced.to/preview/k79a3`
- In that page it would show the original url

[2022-10-20 10:28] GuillemPM commented on #250
If I understand well, the solution would be adding a new API endpoint in the backend and it should provide the required data.

In your new page in qwik, you have the reduced url. Call the new backend endpoint sending that url.
Backend should search for the original url in the cache and return it as a response.

Then load that data into the page as you want.

[2022-10-20 10:29] kymppi commented on #250
That could work. Ill do that for now, but in the future, it could be done so you don't need to make an API call.

[2022-10-20 12:24] GuillemPM commented on #250
It's possible that we split the frontend and backend into different apps, that's why we work with API calls
Thanks!

[2022-10-20 14:29] kymppi commented on #250
Wait, I now tried to do it the API request way but I still need to know which URL should I request data about.

[2022-10-20 15:33] GuillemPM commented on #250
API endpoints are declared inside the controllers. (check app.controller.ts and shortener.controller.ts).
app.controller.ts is handling requests on `/`
shortener.controller.ts is handling requests on `/api/v1/shortener`

https://docs.nestjs.com/controllers

Since we activated versioning, any controller that you indicate a version will be directly prefixed under /api/v*/yourEndpoint
![image](https:

[2022-10-20 15:34] kymppi commented on #250
I know, but how does the frontend know which original URL should it request?

[2022-10-20 15:34] kymppi commented on #250
I dont think you understand my problem...

[2022-10-20 15:35] GuillemPM commented on #250
The original url is linked to the shortened url in the cache module.
If you have the reduced url in the frontend is simple as that:
![image](https://user-images.githubusercontent.com/26607131/196993658-190d1b86-eb6f-4cce-b9cc-c16acfd32059.png)

[2022-10-20 15:41] GuillemPM commented on #250
You will need to create a dynamic route for that and handle it
/[slug]

https://qwik.builder.io/qwikcity/routing/route-parameters/#catch-all-routes

[2022-10-20 15:42] kymppi commented on #250
As I said before, I tried that but when I built the website, it was not found in the dist/public.

[2022-10-20 15:43] GuillemPM commented on #250
The site is built as SSG, so probably it needs extra config, I didn't check the docs:
https://qwik.builder.io/qwikcity/static-site-generation/static-site-config/

[2022-10-20 15:44] GuillemPM commented on #250
Also this: https://qwik.builder.io/qwikcity/static-site-generation/dynamic-routes/

[2022-10-20 15:45] kymppi commented on #250
Okay, I checked those links but how am I going to get all the generated links during build time?

[2022-10-20 15:49] GuillemPM commented on #250
Yep, good point, actually you would need to get all available urls from cache module, and create one page for each of them (and I don't like that)

So we should think on another approach, or maybe @origranot has any idea on how to solve it.
I don't have much time right now to think about it, but I will later

[2022-10-20 15:50] kymppi commented on #250
Okay. Thanks!

[2022-10-20 16:41] origranot commented on #250
Why can't we just render it dynamically with an API call?

[2022-10-20 16:43] GuillemPM commented on #250
I had an idea, will update later.

[2022-10-20 16:45] origranot commented on #250
You can get the url parameters from request, we can do a preview page with $useResource hook to fetch the original url from the backend.

What do you think?

[2022-10-20 16:46] kymppi commented on #250
Could you please read this conversation

[2022-10-20 16:48] origranot commented on #250
This is a one way of doing it.
We can do a simple preview page and pass in the url the reducedUrl In order to dynamically generate the preview page..

[2022-10-20 16:50] origranot commented on #250
Obviously I prefer using your way, I will think about something 🤔

[2022-10-20 17:23] GuillemPM commented on #250
I have 2 approaches + 1 that I need to investigate if it's possible.

Approach 1:

Backend:
Redirects from the received path (51hwgw1+) to /details?id=51hwgw1

Frontend:
We have a static defined page. Ex: details. Will show the details of the url received by param in the url
Details?id=51hwgw1

It now makes an api call to backend to retrieve the related data.

Approach 2:
We separate the frontend

[2022-10-20 23:34] theGeekyLad commented on #251
I'd love to contribute to this! If no one has picked it up yet, I'd be happy if it can be assigned to me.

[2022-10-21 08:24] GuillemPM commented on #251
Hey! Thanks, right now this issue is on hold, I'll update when it is available to work on

[2022-10-21 10:01] origranot opened #265 "Seperate the project into 2 different applications"
### Description

Currently we are using NestJS with SSG.
Our goal is to separate our project into 2 different apps, front and back.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-21 14:38] JoaoVictor6 commented on #101
Hello, I'm very interested in this feature, I cloned this repo and I'm developing a little of this. How would you do this count? I imagined creating a key with the following pattern: `${key}+count`

[2022-10-21 14:49] origranot commented on #101
Hey @JoaoVictor6, we are working to add another database to store authentication and details about every url.
I don't believe it's the best practice to implement this kind of feature on Redis database.

We are still working on it, I hope we will finish soon 😮‍💨

[2022-10-21 14:51] origranot commented on #249
There is no one working on this issue, feel free to take it 🔥

[2022-10-21 20:33] DEV-YJY opened #266 "Spelling correction"
### What would you like to share?

![image](https://user-images.githubusercontent.com/86042155/197283880-027d4764-b029-429d-bdff-6504e0b11a94.png)
I can correct the spelling above

### Additional information

_No response_

[2022-10-21 20:34] origranot commented on #266
Hey @DEV-YJY 👋 ,

What is your suggestion?

[2022-10-21 20:37] DEV-YJY commented on #266
It is a very simple fix
'bellow' should be 'below' : >

[2022-10-22 00:14] this-mkhy commented on #266
@DEV-YJY Done

[2022-10-22 02:41] thenishantsapkota commented on #249
Can I try this?

[2022-10-22 06:54] origranot commented on #249
Go for it!

[2022-10-22 10:27] origranot commented on #249
I would prefer to change it to something like this:
![image](https://user-images.githubusercontent.com/48911144/197334268-fb89836c-888d-4a2c-a9cb-854fa724f4eb.png)

[2022-10-22 18:53] origranot commented on #266
Go for it.

[2022-10-22 23:23] dav-q opened #270 "add button to share on twitter"
### Description

The idea is to add a twitter button to be able to share the generated short url using the url provided by twitter (https://twitter.com/share?url=shortedUrl)
something like the attached image.

### Screenshots

![image](https://user-images.githubusercontent.com/50281001/197365743-b20f9775-5159-466c-a5d4-61cb0e8672fb.png)
![image](https://user-images.githubusercontent.com/50281001/1

[2022-10-23 02:19] nirajpdn opened #271 "Shortened URL cannot be used as very long URL"
### Description

I have a long domain url `https://www.restaurant-indien-kamran.fr/`.
It is then shortened to `https://reduced.to/kubz1`.

Now i can use `https://reduced.to/kubz1` as a very long url which will shortened to `https://reduced.to/liz06`.

I can do it many times as i can. Redirection is done in all the shortened url which will cost the performance of the system.
So `RegEx` can be used

[2022-10-23 07:48] origranot commented on #270
Hey, That's looks great!

I would add a brief explanation on the post and not just pasting the short url.

Something like this:
[code]

[2022-10-23 07:51] origranot commented on #271
You are correct, we can check if the original url is not part of our domain (reduced.to).
What do you think about this solution?

[2022-10-23 09:57] origranot commented on #266
@this-mkhy Can you also change it on the docs?

[2022-10-23 09:58] #266 closed

[2022-10-23 09:58] origranot commented on #271
@nirajpdn Do you want to add this check?

[2022-10-23 10:48] devXprite opened #272 "Bug: Android keyboard hides input fields"
### Description

Android keyboard hides input fields when start typing.

### Screenshots

https://user-images.githubusercontent.com/80192140/197387905-c2721d71-1565-49a6-a17d-24d474f6d9de.mp4

### Additional information

I want to work on this issue

[2022-10-23 11:03] origranot commented on #272
@devXprite 👋

Go ahead :)

[2022-10-23 11:38] origranot commented on #120
Done https://github.com/origranot/reduced.to/pull/273

[2022-10-23 11:38] #120 closed

[2022-10-23 11:56] devXprite commented on #272
360 × 760 px

[2022-10-23 19:04] pratibha2001 opened #276 "Shorten url button not working"
### Description

Shorten url button not working. The button is faded that implies not accesible

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-23 19:48] origranot commented on #276
Hey, this is not a bug.

The button is disabled until you write your input.

[2022-10-23 19:48] #276 closed

[2022-10-23 19:49] dav-q commented on #270
A brief description and a couple of hashtags are added in the publication preview.
![preview](https://user-images.githubusercontent.com/50281001/197414775-058e13a6-a4ff-4142-a18c-78f717c5c4c0.gif)

[2022-10-23 22:29] ccjmne commented on #249
@origranot Hey 👋,

Do you mean that you want it floating, like this...
![image](https://user-images.githubusercontent.com/6822545/197421186-e8e0921a-f54f-45ed-91de-bfd347f98ba9.png)

But also have it take the entire width of the screen, even in Desktop mode?

[2022-10-23 23:00] origranot opened #280 "[DOCS] Update docker installation"
### Description

We just refactored our app into separated docker files.
Need to update the docs according to it.

It needs to include:
- Explanation about docker-compose.dev/prod.
- Use .env files for frontend / backend in development

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-23 23:01] origranot commented on #265
F**K Yea https://github.com/origranot/reduced.to/pull/278

[2022-10-23 23:01] #265 closed

[2022-10-24 14:50] GuillemPM opened #284 "Use .env files over docker-composite and dockerfiles"
### Description

With the current setup, we are manually creating the required env variables in the Dockerfiles from `/frontend` and `/backend`
We want to load them directly from the .env file

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-24 16:44] kushaljgec2025 opened #285 "Header Should look much attractive"
### Description

Header is not so attractive . I want to do some ui work in header logo . so please assign me this.

### Screenshots

![image](https://user-images.githubusercontent.com/108950724/197580386-f3372eb8-5531-4651-906d-d11f72677f40.png)

### Additional information

_No response_

[2022-10-24 16:48] #285 closed

[2022-10-24 18:02] origranot commented on #285
@kushaljgec2025 Why did you closed this issue?

If you have an idea for our logo, go for it 🚀

[2022-10-24 18:39] TanmayPatil105 opened #286 "Count of URL clicks"
### Description

There should be a feature to get the count of the link clicks we have shortened.
Whenever a user clicks on the `SHORTENED_URL`, the count should increase.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-24 18:47] origranot commented on #286
@TanmayPatil105 👋

Thank you for the suggestion!

We already have an open issue about it. https://github.com/origranot/reduced.to/issues/101
This is in our roadmap, we are working on it 🚀

[2022-10-24 18:47] #286 closed

[2022-10-25 09:45] GuillemPM commented on #284
Fixed commit https://github.com/origranot/reduced.to/commit/efceb290814f3dd9c20f018e05ccaf203565735e

[2022-10-25 09:45] #284 closed

[2022-10-25 11:58] #280 closed

[2022-10-25 16:02] kusum-chowdhury opened #288 "add color to the button"
### Description

i want to add hover effect to the button and change the color of it. please assign it to me

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-25 17:15] origranot commented on #288
Hey, do you have any idea of your new design?

Can you please share your screenshot?

[2022-10-25 19:47] Riyadutt commented on #271
I have raised a PR to fix this issue, there are a few alternate approaches as well, but I feel this will do just fine.

[2022-10-25 21:11] GuillemPM commented on #265
A lot of effort here, never forget those nights till 5am solving unexpected bugs😅🤣

[2022-10-25 21:14] origranot commented on #265
At least we got it 🥇 💯

[2022-10-25 21:42] #288 closed

[2022-10-25 21:48] origranot opened #292 "Style the tooltip component"
### Description

Our tooltip component need some style to fit our dark/light mode 🔥

### Screenshots

<img width="1128" alt="image" src="https://user-images.githubusercontent.com/48911144/197888054-7dfaf73a-412e-4bbc-af7b-d5a793e59a19.png">
<img width="1128" alt="image" src="https://user-images.githubusercontent.com/48911144/197888107-1ec11214-32d9-47be-916c-103e996b9647.png">

### Additional info

[2022-10-26 02:59] deepaksuthar40128 commented on #292
Can you assign it to me

[2022-10-26 04:05] Riyadutt commented on #271
@origranot can you have a look at it.

[2022-10-26 04:51] Riyadutt commented on #292
Assign it to me please, I have raised a PR with the fix.

[2022-10-26 08:14] origranot commented on #271
@Riyadutt I left comments on the pr.

[2022-10-26 08:59] devXprite opened #296 "Add a Social Media Preview Image"
### Description

In order to have preview on Twitter, we need to specify a "twitter:card" with  "twitter:image"

### Screenshots

_No response_

### Additional information

I want to work on this issue

[2022-10-26 10:21] origranot commented on #296
@devXprite Thank you for the suggestion!
We already have a metadata from twitter.

[2022-10-26 10:21] #296 closed

[2022-10-26 10:21] #272 closed

[2022-10-26 10:22] origranot commented on #249
We added a tooltip component, https://github.com/origranot/reduced.to/pull/290

[2022-10-26 10:22] #249 closed

[2022-10-26 10:31] origranot opened #297 "Design a custom icon / favicon for our app"
### What would you like to share?

Hey all 👋,

We would like to design a creative icon to our website.
Don't be afraid to use your imagination, let's go 🚀

### Additional information

_No response_

[2022-10-26 10:40] Riyadutt commented on #271
will send out the fix by tonight.

[2022-10-26 12:16] origranot commented on #297
Go for it!

All the issues are hacktoberfest accepted 🤩

[2022-10-26 14:16] origranot commented on #296
First we need a unique icon :)
https://github.com/origranot/reduced.to/issues/297

[2022-10-27 04:10] owengaspard commented on #297
I have designed a new favicon for the app. Please see PR #298 when you have a chance.

[2022-10-27 08:26] TanmayPatil105 opened #299 "Two or more seperate reduced URLs and for the same URL"
### Description

The site generates two seperate URLs for the same URL which adds to redundancy. In long run, this would lead to a big problem.

`How to reproduce?`

The following two reduced URLs redirect to the same URL and were generated couple of seconds apart.
1. [Link1](https://reduced.to/kaz6t)
2. [Link2](https://reduced.to/53b4u)

So to avoid this, a cache database can be implemented which

[2022-10-27 11:47] prabhleenn commented on #292
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if you assign me this.

[2022-10-27 15:08] GuillemPM commented on #299
Hello @TanmayPatil105,

This is working as expected, since every url should be individual and will have its own tracking statistics, even if they point to the same url.

What we could do is implement some kind of link reference between shortened and long urls, to not store duplicate data.
So how is it working now:

Our cache database is storing the following:
[code]

Maybe would be interesting to

[2022-10-27 15:39] TanmayPatil105 commented on #299
Yess, We can't have best of both worlds. The `ref` thing looks better to me. Maintaining a small `cache ref` wouldn't affect performance much and would save a lot of space. In future, if there a feature to login, then for a specific user you can maintain a small cache the way I mentioned. Just my thoughts!!

[2022-10-27 15:53] GuillemPM commented on #299
Sure! The thing is that actually the cache is being used for fast redirects, so there is no information about the user.
After we implement next features we can start thinking about this, I will keep the issue open

[2022-10-28 12:02] amittri1025 commented on #292
@Riyadutt did you fixed it ?

[2022-10-28 21:49] GuillemPM commented on #292
Closing for #295

[2022-10-28 21:49] #292 closed

[2022-10-29 08:08] SaxenaAnushka102 commented on #297
Hello @origranot! I'd like to contribute, could you please assign this to me?

[2022-10-29 11:23] tapaskhanijo opened #303 "added a Product Suggestions doc & pdf files"
### Description

I felt like adding a few product suggestions in the form of a brief doc, so raised a pull request with the same:)

**NOTE:** _these suggestions are based on my personal preferences/experiences, which I would love to see built-in any product like this:)_

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-29 11:53] origranot commented on #303
Go for it, we have a roadmap in our readme.

[2022-10-29 12:24] tapaskhanijo commented on #303
done!!

[2022-10-29 12:45] origranot commented on #303
Please don't push files to our project.

If you have any suggestion you can create an issue about it :)

[2022-10-29 12:45] #303 closed

[2022-10-29 12:49] tapaskhanijo opened #306 "Product Functions~ Suggestions"
### Description

**Product Suggestions~ reduced.to**

**NOTE:** these suggestions are based on my personal preferences/experiences, which I would love to see built-in any product like this:)

**1.	Ownership~** a brief about the creators, the idea, the problem and how it is solving, so that people can get a brief sense of the product.

**2.	Testimonials~** popping up decent reviews by people, who’v

[2022-10-29 14:34] Manohar-mj commented on #297
Hello I would like to contribute please assign me

[2022-10-29 14:38] origranot commented on #297
@SaxenaAnushka102 @Manohar-mj You are welcome to open a pr about it. :)

[2022-10-30 06:37] komalioruganti commented on #297
I can make a favicon. Can you assign me this issue

[2022-10-30 06:45] komalioruganti commented on #297
I can make a favicon that matches the name of the website a little more

[2022-10-30 14:13] The-Reverse-Flash opened #311 "Automatic update to Dependencies using Dependabot."
### What would you like to share?

Using outdated packages raises security concerns and updating the packages is an essential step. But this step can be automated.
Updates to packages can no longer need to be a manual task. Dependabot can be used to identify the dependencies that have update and it can raise a PR.

### Additional information

_No response_

[2022-10-31 09:54] PrakashGatiyala opened #318 "Link in readme needs update"
### Description

![image](https://user-images.githubusercontent.com/34413515/198979909-8bfad983-a75d-4dc1-9aab-6ed5358b2d61.png)

The 1st highlighted link is redirecting to  https://github.com/origranot/reduced.to/issues.
Ideally, It should redirect to following link:  https://github.com/origranot/reduced.to/issues/new?assignees=&labels=bug%2Ctriage&template=bug.yml

The 2nd highlighted link is re

[2022-10-31 10:01] PrakashGatiyala commented on #318
Hi @origranot  I have created PR for it. PR link: https://github.com/origranot/reduced.to/pull/319
Please review it and merge it.

[2022-10-31 12:09] Akshu-on-github opened #320 "Use SVG logo"
### Description

Using a `.png` image for a logo is not recommended because:
- It can take up a lot of space
- It is pixelated when zooming in
- It is not easily customizable

Instead, I'd suggest using an SVG - I propose that I do the following:
- Make an SVG of the logo
- Add it to the following files:
  - Readme.md
  - public/logo.png

### Screenshots

| Description | Screenshot |
|-|-|
| Scree

[2022-10-31 12:21] PrakashGatiyala commented on #318
Hi @GuillemPM  Could you please review my PR and merge it. PR link: https://github.com/origranot/reduced.to/pull/319

[2022-10-31 12:33] GuillemPM commented on #320
Perfect, we had it in our backlog, but we don't have time to do it, it would be really nice if you work on it. 🔥

[2022-10-31 13:01] Akshu-on-github commented on #320
Awesome! Here's what I've made (in png because markdown doesn't support SVG):

<img src="https://user-images.githubusercontent.com/61582763/199013316-e52cf852-5ef9-401d-b0e0-5308283400d4.png" width=75%>

If possible, could you confirm what font and weight were used? I've taken a guess and used Sinkin Sans Semibold (600) - let me know if I should change this

[2022-10-31 13:03] Akshu-on-github commented on #320
Also, could you please tell me what I should modify on the frontend? I'm not familiar with Qwik App, but I'd be happy to follow any directions given

[2022-11-03 22:38] origranot commented on #320
@Akshu-on-github
You can just change the reference to ```logo.png``` at```index.ts```.
Also don't forget to change readme also 🚀

[2022-11-03 22:40] origranot commented on #306
@tapaskhanijo Thank you for your contribute!
I think it will fit better at the discussion tab.

[2022-11-03 22:40] #306 closed

[2022-11-03 22:46] origranot commented on #311
@The-Reverse-Flash
Sounds great!

[2022-11-03 22:46] #311 closed

[2022-11-03 23:31] origranot commented on #270
Done https://github.com/origranot/reduced.to/pull/277

[2022-11-03 23:31] #270 closed

[2022-11-04 13:28] jessej-samuel opened #328 "make the site more accessible"
### Description

I think the site will be more accessible if on clicking `/` the URL input gets focused.

Ex: https://www.youtube.com/

### Screenshots

_No response_

### Additional information

If this is approved, I am willing to work on this! Also, I'm open to suggestions on changes!

[2022-11-04 19:19] origranot opened #330 "Implementing Novu as our notifications infrastructure"
### Description

Migrate our mail module to a new notification module using novu.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-04 20:11] origranot commented on #330
Done https://github.com/origranot/reduced.to/pull/331

[2022-11-04 20:11] #330 closed

[2022-11-04 22:11] origranot opened #334 "Implement verify email on backend"
### Description

Implement the flow of the verify process on the backend using JWT and Passport.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-04 22:11] origranot commented on #334
Done https://github.com/origranot/reduced.to/pull/333

[2022-11-04 22:11] #334 closed

[2022-11-05 11:24] origranot commented on #297
Done https://github.com/origranot/reduced.to/pull/335

[2022-11-05 11:24] #297 closed

[2022-11-05 13:28] origranot commented on #328
Hey, can you please give a deeper explanation about the feature?

[2022-11-05 13:34] jessej-samuel commented on #328
Ok, so when you load the page the most likely action you want to do is enter a URL and generate a shortened link.

Let's take the Youtube homepage for example. Most users just wanna search for a term to search something.  Having the search box focus on clicking `/` so that they can start typing without using the mouse actually improves the user experience on the site. This is not just a YT thing.

[2022-11-05 13:46] origranot commented on #328
Oh, I didn't even knew it 🤣

This is a cool idea, go for it!

[2022-11-05 14:06] jessej-samuel commented on #328
Also, I can just start work on the master branch ryt?

[2022-11-05 14:09] origranot commented on #328
Yes, fork and create a pull request 🚀

[2022-11-05 19:01] Dominion0815 opened #337 "Remove fonts.googleapis.com and cdnjs.cloudflare.com"
### Description

Hi,

first at all it is a very nice project and I like it.
But external links to cloudflare and google are not my favorits. Is it possible to store such files local?

thx in advanced
dominion

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-05 19:04] Dominion0815 opened #338 "Question about DATABASE_URL"
### What would you like to share?

Hi,

I used the docker version and I've set DATABASE_URL to a docker located postgres db.
But I don't see any entries in the database, where are the short urls stored?

greetings
dominion

### Additional information

_No response_

[2022-11-05 19:34] origranot commented on #338
Hey @Dominion0815 👋,

At the moment we are developing the authentication system (using Prisma and Postgres).
DATABASE_URL is used by Prisma to access Postgres.

Short urls are stored in-mem at backend instance by the cache module.

[2022-11-05 19:34] #338 closed

[2022-11-06 09:03] Dominion0815 commented on #338
thx !

If I understand correctly, there is currently no permanent storage of the short URLs. Will the short URLs be able to be stored on disk at some point and will they all be lost during the changeover?

[2022-11-06 09:31] origranot commented on #338
At the moment the URLs are not permeant, they will be permanent as soon as we finish the authentication.